<!-- <form method="post" action="/models/<%= @post.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form> -->
<h1> <%= @post.name %> was deleted</h1>
