<!-- contain a form to update a specific blog post and POSTs to a controller actiion patch '/posts/:id' -->

<form action="/posts/<%= @post.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Rename <%= @post.name%></p>
  <input type="text" value="<%= @post.name %>" name="name">
  <input type="text" value="<%= @post.content %>" name="content">
  <input type="submit" value="submit">
</form>
