<form action="/posts" method="POST">
  <h2>Write a new post below</h2>
  <label for="name">Name:</label>
  <input type="text" name="name"><br>
  <label for="content">Post Content:</label>
  <input type="text" name="content">
  <input type="submit" value="submit">
</form>
