<p><%= @post.name %></p>
<p><%= @post.content %></p>
<form method="post" action="/models/<%= @post.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
